<div class="temp">
  <% if signed_in? %>
    Logged in as <%= current_user.handle %>.<br>
  <% end %>
</div>

<div id="content" data-team-id="<%= params[:team_id] %>" data-user-id="<%= current_user.id %>">
</div>
