<head>
  <meta charset="UTF-8">
  <title>Stack Login Screen</title>
</head>
<body>

  <div class="wrapper">
    <div class="container">
      <h1>Welcome to Stack</h1>
      <div class="HelvetiList">
        <h2>Select a Team</h2>
        <ul >
          <% Team.all.each do |team| %>
          <li class="HelvetiList"><a href="/teams/<%= team.id %>/login/"><%= team.name %></a></li>
          <% end %>
        </ul>
      </div>

      <form action="<%=api_teams_url%>" method="POST" class="form_static">
        <%= auth_token %>
        <input
          type="text"
          name="team[name]"
          placeholder="Create a New Team">
        </input>
      </form>

    </div>
  </div>
</body>
