@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: 300;
  overflow: hidden;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
button:hover{
  cursor: pointer;
  box-shadow: inset 0 0 0 5px black;
}


.wrapper {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 400px;
  margin-top: -200px;
  overflow: hidden;
}
.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}
.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
}

.form_static {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
.form_static  input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
.form_static input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

button:hover{
  cursor: pointer;
  box-shadow: inset 0 0 0 5px black;
}
.form_static  input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}

.channel-composer{
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  height: 2em;
  width: 100%;
  margin: 20px 0 0;
  padding-right: 10px;
  position: relative;
  right: 15px;
  margin-bottom: 50px;
}

.formInput {
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: white;
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  -webkit-transition-duration: 0.25s;
         transition-duration: 0.25s;
  font-weight: 300;
}
.formInput:focus {
  background-color: white;
  width: 300px;
  color: black;
}


form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
form button:hover {
  background-color: #f5f7f9;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 7s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 2s;
          animation-delay: 5s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 5s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}

.channels{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-control{
  background-color: black;
  color: black;
}
.channels{
  height: 88%;
}

.channels > ul{
  flex: 1;
  overflow-y: auto;
}


ul.message-list{
  background: white;
  height:80vh;
  width: 100%;
}
div.HelvetiList{
  width: 200px;
  margin: 30px;
  text-align:center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
ul.HelvetiList  {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.HelvetiList {
  font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  text-align:center;
}

li.HelvetiList:last-child {
  border: none;
}

li.HelvetiList a {
  text-decoration: none;
  color: white;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 200px;
}

li.HelvetiList a:hover {
  font-size: 20px;
  background: black;
}








@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}


.app{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
  font-size: 16px;
}
.sidebar{
  padding: 35px 30px;
  background: #50a3a2;
  width: 240px;
  color: #FCF9EC;
  top: 0;
  left: 0;
  height: 100%;
  transition: width .5s;
}

.sidebar-user {
  background: #50a3a2;
  width: 210px;
  height: 15vh
}


.sidebar img {
  padding: 2px 40px 30px 0px;
}



.sidebar strong, .sidebar-username strong {
  font-size: 20px;
  font-weight: 700;
}

.panel-heading{
  font-size: 27px;
  color: white;
  padding-left: 30px;
}

.panel-username{
  font-size: 20px;
  color: white;
}

.panel-heading a:link, .panel-username a:link {
    text-decoration: none;
    color: white;
}

.panel-heading a:visited, .panel-username a:visited {
    text-decoration: none;
    color: white;
}

.panel-heading a:hover, .panel-username a:hover {
    text-decoration: underline;
    color: white;
}

.panel-heading a:active, .panel-username a:active {
    text-decoration: underline;
    color: white;
}

.active {
  background: black;
  width: 100%;
  border-radius: 70px;
}

.sidebar li, .panel-username a {
  padding: 5px 20px;
  font-weight: 300;
  margin-right: 20px;
  padding-left: 55px;
}

.sidebar li.selected, .panel-username a.selected {
  background: black;
  margin-right:0;
}

.sidebar li.selected:hover, .panel-username a.selected:hover {
  cursor: default;
  border-radius: 0;
  margin-right:0;
  background: black;
}

.sidebar li:hover, .panel-username a:hover  {
  background: black;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 20px;
}


.sidebar li, .panel-username a {
  text-decoration: none;
  color: white;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 200px;
}

img{
  height: auto;
  width: 100%;
  padding-right: 30px;
  padding-bottom: 30px;
}

.profile{
  height: auto;
  width: 20%;
}


.message-thread-heading {
  font-weight: bold;
  font-size: 28px;
  height: 80px;
  text-align: center;
}

.message-header {
  height: 5vh;
}


.message-header .profile,
.message-header .message-thread-heading {
  display: inline-block;
  vertical-align: bottom;
}

.header {
  height: 5vh;
  vertical-align: bottom;
  padding: 10px 0px;
}


.header h1 {
  font-size: 30px;
  text-align: left;
}

.conversation-header {
  float: left;
  width: calc(100% - 240px - 300px);
}




.search-header {
  display: block;
  float: right;
  margin-top: 10px;
  margin-right: 240px;
  height: 1.9rem;
  width: 240px;
}

.search-input {
  box-sizing: border-box;
  width: 240px;
  padding: 5px;
  border-radius: 15px;
  margin-right: 20px;
  font-size: 14px;
  height: 2em;
  position: relative;
  margin-right: 50px;
  color: black;
}

.search-input:focus {
  outline: 0;
}

.search-input::-webkit-input-placeholder{
    color:black;
}
.search-input:-moz-placeholder {
    color:black;
}



.panel-body-messages {
  height: 90vh;
}

.support, .users{
  height: 30vh;
  margin-bottom: 0;
}
.channels, .users{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.channels, .users{
  height: 88%;
}

.channels > ul, .users > ul{
  flex: 1;
  overflow-y: auto;
}


.message-author-name{
  color: #66c;
  float: left;
  font-size: 13px;
  margin: 0;
}

.message {
  clear: both;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.message-time{
  color: #aad;
  float: right;
  font-size: 12px;
}

.message-text {
  clear: both;
  font-size: 14px;
  padding-top: 10px;
}

.message-composer {
  font-family: inherit;
  font-size: 14px;
  height: 90px;
  width: 100%;
  margin: 40px 0 0;
  border: 2px solid #00A4A3;
}


.message-list-item {
  list-style: none;
  padding: 12px 14px 14px;
}

.message-list {
  font-size: 16px;
  height: 60vh;
  margin: 0;
  overflow-y: auto;
  padding: 0;
}

.message-section {
  float: right;
  padding: 20px 40px;
  width: 100%;
  height: 100%;
  max-width: 70%;
}

.message-time-stamp {
  display: block;
  clear: right;
  border-radius: 5px;
  margin: 0px 10px;
}

.message-data {
  text-align: right;
  font-size: 20px;
}

.other-message-data{
  left: 93%;
  font-size: 20px;
}


.message-item {
  max-width: 60%;
  font-size: 20px;
  overflow: scroll;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.message-content{
  width: 100%;
}

.my-message {
  background: #00A4A3;
  float: right;
  margin-right: 10px;
  color: white;
}


.other-message {
  background: #49e16c;
  float: left;
  margin-left: 10px;
  color: white;
}

.message-data img{
  height: 20vh;
  width: 20vh;
  padding: 15px 10px;
  float: right;
  display: block;
  border-radius: 30px;
}

.other-message-data img{
  height: 20vh;
  width: 20vh;
  padding: 15px 30px;
  float: left;
  display: block;
  border-radius: 0px;
}


.timestamp{
  color: #808080;
  font-style: italic;
  padding-left: 10px;
  font-size: 13px;
}
.form-group{
  margin-bottom: 0;
}
ul{
  list-style-type:none;
  padding: 0;
}
li{
  padding: 0 4px 0 4px;
}
a{
  cursor: pointer;
}
